@import "../variables.scss";

$header-height: 90px;

header {
  align-self: center;
  display: flex;
  height: $header-height;
  gap: 70px;
  margin-bottom: 170px - $header-height;

  .nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 326px;
    height: 60px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    font-weight: bold;
    background-color: $grey;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease-out, color 0.3s ease-out, height 0.3s ease-out;
  }

  .nav-button:hover {
    background-color: $light-grey;
    height: $header-height;
  }

  .router-link-exact-active {
    color: $yellow;
  }
}