@import "../variables";

.modal-window {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.9);
  position: fixed;
  display: flex;

  .modal-content {
    margin: auto;
    background: $grey;
    border-radius: 12px;
    min-width: 722px;
    min-height: 400px;
    padding: 20px;
  }
}