@import "../variables";

#users_container {
  display: flex;
  flex-direction: column;
  padding: 50px 25px;
  border-radius: 30px;
  width: 40vw;
  align-self: center;
  background-color: $grey;

  #users_list {
    padding: 0 35px;
    height: 75vh;
    overflow-y: auto;
    scrollbar-track-color: white;

    div {
      height: 40px;
      display: flex;
      padding: 0 17px;
      align-items: center;
      border-radius: 10px;
      justify-content: space-between;
      font-size: 20px;

      p {
        max-width: 70%;
        word-wrap: break-word;
        white-space: nowrap;
        overflow: hidden;
        cursor: initial;
        padding-right: 17px;
      }

      div {
        display: none;
        align-items: center;
        justify-content: flex-end;
        gap: 16px;



        img {
          width: 21px;
          height: 21px;
          cursor: pointer;
        }
      }
    }

    div:hover {
      background-color: $light-grey;
      position: relative;

      div {
        display: flex;
        position: absolute;
        right: 5px;
      }
    }
  }
}

#users_list::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
  background-color: $dark-grey;

}

#users_list::-webkit-scrollbar-track {
  border-radius: 10px;
  background: $dark-grey;
}

#users_list::-webkit-scrollbar-thumb {
  background: $light-grey;
  border-radius: 10px;
}